@import url(./fonts.css);

/* 
- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%) */

body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.hero {
    background: #121517;
    background: -webkit-radial-gradient(top, #252E37, #121517);
    background: -moz-radial-gradient(top, #252E37, #121517);
    background: radial-gradient(to bottom, #252E37, #121517);
    border-radius: 50px;
    padding: 30px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.05); /* TODO: change the shade */
    width: 410px;
    font-family: 'Overpass', sans-serif;
}

.init-state {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.star-icon {
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.star-icon img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 30px;
    padding: 0;
    margin: 0;
    flex-basis: 100%;
}

p {
    color: hsl(217, 12%, 63%);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

.rate {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    color: hsl(216, 12%, 54%);
    font-family: 'Overpass';
}

.rate__el {
    background-color: #28282c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}

.rate__el:hover {
    background-color: hsl(0, 0%, 100%);
    color: #e47900;
}

.btn {
    width: 100%;
    text-align: center;
    font-family: 'Overpass';
    font-size: 20px;
    border-radius: 20px;
    border: 0;
    background-color: #e47900;
    color: hsl(0, 0%, 100%);
    padding: 10px 0;
    letter-spacing: 3px;
    transition: .5s;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    background-color: hsl(0, 0%, 100%);
    color: #e47900;
}

.is-active {
    background-color: #e47900;
    color: hsl(0, 0%, 100%);
}

.is-active:hover {
    background-color: #e47900;
    color: hsl(0, 0%, 100%);
}

.result-state {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding-bottom: 30px;
}

.result__img-wrapper {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.result__score {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: #e47900;
    padding: 5px 15px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
}

.result__score span {
    padding-top: 4px;
}

.result-state h1 {
    margin-top: 40px;
    text-align: center;
}

.result-state p {
    text-align: center;
}

.is-hidden {
    display: none;
}