@import url(./fonts.css);
@import url(./variables.css);

body {
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.rating-component {
    max-width: 325px;
}

.rating-component .hero {
    background: #1d242e;
    border-radius: 15px;
    padding: 20px;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.rating-component .init-state {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.rating-component .star-icon {
    background-color: var(--el-bg-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.rating-component .star-icon img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.rating-component h1 {
    color: var(--white-color);
    font-weight: 600;
    font-size: 30px;
    padding: 0;
    margin: 0;
    flex-basis: 100%;
}

.rating-component p {
    color: var(--text-color);
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

.rating-component .rate {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    color: var(--text-color);
    font-family: 'Overpass';
}

.rating-component .rate__el {
    background-color: var(--el-bg-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    cursor: pointer;
}

.rating-component .rate__el:hover {
    background-color: var(--white-color);
    color: var(--orange-color);
}

.rating-component .btn {
    width: 100%;
    text-align: center;
    font-family: 'Overpass';
    border-radius: 20px;
    border: 0;
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: 10px 0;
    transition: .2s;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.rating-component .btn--disabled {
    pointer-events: none;
    background-color: var(--medium-grey);
}

.rating-component .btn:hover {
    background-color: var(--white-color);
    color: var(--orange-color);
}

.rating-component .is-active {
    background-color: var(--orange-color);
    color: var(--white-color);
}

.rating-component .is-active:hover {
    background-color: var(--orange-color);
    color: var(--white-color);
}

.rating-component .result-state {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding-bottom: 30px;
}

.rating-component .result__img-wrapper {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.rating-component .result__score {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: var(--orange-color);
    padding: 5px 15px;
    background-color: var(--dark-blue);
    border-radius: 20px;
}

.rating-component .result__score span {
    padding-top: 4px;
}

.rating-component .result-state h1 {
    margin-top: 40px;
    text-align: center;
}

.rating-component .result-state p {
    text-align: center;
}

.rating-component .is-hidden {
    display: none;
}